/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* =====================================END CSS RESET===================================== */

html {
box-sizing: border-box;
font-size: 20px;
background-image: 
    url("\images\bg-pattern-top-mobile.svg")
    url("\images\bg-pattern-bottom-mobile.svg") ;
background-position: 0% 0%, 50% 50%;
font-family: 'Spartan', sans-serif;
font-size: 15px;
height: 100%;
}

body {
background-color: beige;
display: flex; 
flex-direction: column;
width: 95%;
/* justify-content: space-evenly; */
align-items: center;
padding: 25px;
}

body .main-headline {
    align-self: center;
}

.main-headline {
display: flex;
align-items: left;
    /* ^^^ used this instead of text-align: left; under each individual h1 & p ^^^ */
flex-direction: column;
margin: 5px 5px;
/* line-height: 50px; */
width: 53.5%;
}

.main-headline h1 {
margin: 0px 0px;
color: hsl(300, 43%, 22%);
font-weight: 700;
font-size: 50px;
/* line-height: 2em; lol this looks dum*/
}

.main-headline p {
margin: 0px 0px;
color: grey;
}

.five-star-all {
display: flex;
align-items: left;
flex-direction: column;
flex-wrap: wrap;
width: 40%;
color: hsl(300, 43%, 22%);
font-weight: 600;
justify-content: center;
}

.five-star-1 {
display: flex;
align-items: left;
background-color: hsl(300, 24%, 96%);
border: 1px solid hsl(300, 24%, 96%);
border-radius: 10px;
padding: 20px;
margin: 10px 50px 10px 50px;
width: 70%;
}

.five-star-2 {
display: flex;
align-items: left;
background-color: hsl(300, 24%, 96%);
border: 1px solid hsl(300, 24%, 96%);
border-radius: 10px;
padding: 20px;
margin: 10px 100px 10px 100px;
width: 70%;
}

.five-star-3 {
display: flex;
align-items: left;
background-color: hsl(300, 24%, 96%);
border: 1px solid hsl(300, 24%, 96%);
border-radius: 10px;
padding: 20px;
margin: 10px 100px 10px 150px;
width: 70%;
}

.main-headline-and-five-star-all {
    display: flex;
    flex-direction: row;
width: 100%;
height: 47%;
}

.testimonials-all {
display: flex;
flex-direction: row;
width: 100%;
height: 47%;
}

.testimonial-1 {
display: flex;
align-items: center;
flex-direction: column;
width: 325px;
padding: 25px 25px;
margin: 50px 25px 150px;
background-color: hsl(300, 43%, 22%);
border: 1px solid hsl(300, 43%, 22%);
border-radius: 10px;
color: white;

}

.testimonial-2 {
display: flex;
align-items: center;
flex-direction: column;
width: 325px;
padding: 25px 25px;
margin: 100px 25px 100px;
background-color: hsl(300, 43%, 22%);
border: 1px solid hsl(300, 43%, 22%);
border-radius: 10px;
color: white;
}

.testimonial-3 {
display: flex;
align-items: center;
flex-direction: column;
width: 325px;
padding: 25px 25px;
margin: 150px 25px 50px;
background-color: hsl(300, 43%, 22%);
border: 1px solid hsl(300, 43%, 22%);
border-radius: 10px;
color: white;

}

.testimonial-name {
/* display: flex; */
align-items: center;
font-weight: 600;
}

.testimonial-verified {
/* display: flex; */
align-items: center;
color: hsl(303, 10%, 53%);
font-weight: 600;
}

.testimonial-body {
display: flex;
align-items: center;
padding: 20px 0px 0px;
}

.testimonial-image {
border: 1px solid hsl(300, 43%, 22%);
border-radius: 50%;
width: 25%;
/* align-items: left; doesnt work*/
}

.testimonial-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

#testimonial-colton {

}

#testimonial-irene {

}

#testimonial-anne {
/* flex-direction: row; */
/* align-items: flex-start; */
align-items: left;
}

/* .attribution {
display: flex;
align-items: center;
} */

/* ======media queries====== */

@media (min-width: 375px)
{
    html {
        background-image: 
            url("\images\bg-pattern-top-desktop.svg")
            url("\images\bg-pattern-bottom-desktop.svg") ;
background-position: 0% 0%, 50% 50%;
    }
    body {
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        flex-wrap: wrap;
        height: 95%;
    }
    .main-headline {
        /* padding: 200px; */
    }
    .five-star-all {
        /* padding: 200px; */
    }

    .testimonial-all {
        height: 50%;
    }
}

* {border: 1px solid red}

/* * {
    border: 2px solid black;
} */